@keyframes movement {
  0% {
    transform: var(--transformFrom);
  },
  100% {
    transform: var(--transformTo);
  }
}

@keyframes idle {
  0% {
    transform: var(--transformFrom);
  },
  100% {
    transform: var(--transformTo);
  }
}

.particle {
  width: 0.5px;
  height: 0.5px;
  top: 0;
  left: 0;
  background: #000;
  position: absolute;
  transform-origin: center center;
  transform: var(--transformTo);
  opacity: 1;

}
.particle.idle {
  transition: transform 100s;
}

.particle.moving {
  animation: movement 0.8s ease-in-out;
  animation-direction: normal;
}


.particlePlace {
  position: absolute;
  left: 0;
  top: 0;
}
