@keyframes movement {
  0% {
    transform: var(--transformFrom);
  },
  100% {
    transform: var(--transformTo);
  }
}

.particle {
  width: 0.5px;
  height: 0.5px;
  top: 0;
  left: 0;
  background: #000;
  position: absolute;
  transform-origin: center center;
  transform: var(--transformTo);
  opacity: 1;
  transition: opacity 0.5s;
}

.particle.moving {
  animation: movement 1s ease-in-out;
}


.particlePlace {
  position: absolute;
  left: 0;
  top: 0;
}
