
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Fira Code', monospace; 
  color: #000;
}


.pixelSpace {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

